!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title HTML5 Template
    %meta{content: "The HTML5 Template", name: "description"}/
    %meta{content: "MomentumCMS", name: "author"}/
  %body
    {% momentum_cms:yield %}
    {% momentum_cms:hello_world %}