<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HTML5 Template</title>
  <meta name="description" content="The HTML5 Template">
  <meta name="author" content="MomentumCMS">
</head>
<body>
    {% momentum_cms:yield %}
    {% momentum_cms:hello_world %}
</body>
</html>