{% cms_fixture id:header locale:en %}
Authors
{% endcms_fixture %}

{% cms_fixture id:content locale:en %}
<p>Checkout the MomentumCMS Github project page.</p>
<div class="github-card" data-github="MomentumCMS/momentum_cms" data-width="400" data-height="153"></div>
<script src="http://lab.lepture.com/github-cards/widget.js"></script>
{% endcms_fixture %}