= form.input :label
= form.input :identifier
= form.submit class: 'btn btn-success btn-xs'
= link_to 'Back', cms_admin_site_document_templates_path(@current_momentum_cms_site), class: 'btn btn-primary btn-xs'