source 'http://rubygems.org'

gem 'rails',                github: 'rails/rails'
gem 'awesome_nested_set',   '~> 3.0.0.rc.3'
gem 'ancestry',             '~> 2.1.0'
gem 'globalize',            '~> 4.0.1'
gem 'haml-rails',           '~> 0.4'
gem 'sass-rails',           '~> 4.0.3'
gem 'paper_trail',          '~> 3.0.1'
gem 'globalize-versioning', '~> 0.1.0.alpha.1'
gem 'paperclip',            '~> 4.1.1'
gem 'jquery-rails',         '~> 3.1.0'
gem 'simple_form',          '~> 3.1.0.rc1'
gem 'liquid',               '~> 2.6.1'
gem 'coveralls', require: false
gem 'codeclimate-test-reporter',  require: nil

group :test do
  gem 'sqlite3'
  gem 'mysql2'
  gem 'pg'
end
