source 'http://rubygems.org'

gem 'rails', :github:     'rails/rails'
gem 'awesome_nested_set', '~> 3.0.0.rc.3'
gem 'globalize',          '~> 4.0.1'
gem 'ancestry'
gem 'haml-rails'
gem 'sass-rails'
gem 'paper_trail'

group :test do
  gem 'sqlite3'
end
