= simple_form_for @momentum_cms_page, url: {action: :new}  do |form|
  .ajax-fields
    = form.simple_fields_for :fields do |field_form|
      - next unless @field_templates_identifiers.include?(field_form.object.identifier)
      - next if field_form.object.published?
      = render 'momentum_cms/admin/pages/partials/fields_fields', field_form: field_form