%h1.page-header Pages

%table.table
  %thead
    %tr
      %th Label
      %th Path
      %th Created At
      %th Updated At
      %th Control
  %tbody  
    = render partial: 'pages', locals: { momentum_cms_pages_tree: @momentum_cms_pages, require_root: true}
%br/
= link_to 'New Page', new_cms_admin_site_page_path(@current_momentum_cms_site), class: 'btn btn-primary btn-xs'