%h1.page-header New Page

.momentum-cms-page-view{data: {fields_url: momentum_fields_path_for(@momentum_cms_page)}}
  = simple_form_for @momentum_cms_page, url: {action: :create} do |form|
    = render partial: 'form', locals: { form: form } 
