%h1.page-header New Page

.momentum-cms-page-view{data: {content_blocks_url: momentum_content_blocks_url}}
  = simple_form_for @momentum_cms_page, url: {action: :create} do |form|
    = render partial: 'form', locals: { form: form } 

