{% cms_fixture id:header locale:en %}
About MomentumCms
{% endcms_fixture %}

{% cms_fixture id:content locale:en %}
{% raw %}
<p>MomentumCms is created with the following concepts in mine:</p>
<ul>
  <li>Multilingual support</li>
</ul>

<p>MomentumCms is created with Ruby.</p>
<p><img src="{% cms_file slug:momentum-logo %}"/></p>
{% endraw %}
{% endcms_fixture %}