{% cms_fixture id:header locale:en %}
About MomentumCms
{% endcms_fixture %}

{% cms_fixture id:content locale:en %}
<p>MomentumCms is created with the following concepts in mine:</p>
<ul>
  <li>Multilingual support</li>
</ul>
{% endcms_fixture %}