%h1.page-header Edit Document

.momentum-cms-document-view{data: {fields_url: momentum_fields_url, document_id: @momentum_cms_document.id}}

  = simple_form_for @momentum_cms_document, url: {action: :update}  do |form|
    = render partial: 'form', locals: { form: form } 
  
= render partial: 'momentum_cms/admin/partials/object_meta', locals: { object: @momentum_cms_document }