%h1.page-header New '#{@momentum_cms_document_template.label}' Document

= simple_form_for @momentum_cms_document, url: {action: :create}  do |form|
  = render partial: 'form', locals: { form: form } 

