- require_root ||= false

-if momentum_cms_menu_items_tree.length > 0 || require_root
  %ol{class: ('ui-nested-sortable' if require_root)}
    - momentum_cms_menu_items_tree.each do |momentum_cms_menu_item|
      - next if require_root && !momentum_cms_menu_item.is_root?
      %li{id: "list-#{momentum_cms_menu_item.linkable_id}", data: {id: momentum_cms_menu_item.linkable_id, type: momentum_cms_menu_item.linkable_type}}
        %div
          = momentum_cms_menu_item.linkable.published_content.label
        = render partial: 'sub_menu', locals: {momentum_cms_menu_items_tree: momentum_cms_menu_item.children}