%pre= @momentum_cms_content.to_yaml


- if @momentum_cms_content.page.parent
  %p
    Parent:
    = link_to(@momentum_cms_content.page.parent.label, @momentum_cms_content.page.parent.path)

%p Children:
%ul
- @momentum_cms_content.page.children.each do |page|
  %li= link_to(page.label, page.path)