.tab-content
  = form.simple_fields_for :contents, @momentum_cms_page.contents do |content_fields|

    - content = content_fields.object
    - tab_id = content.label || 'New Content'

    - # Determine the active tab
    - if params[:new_content].present? && tab_id == 'New Content' && content.new_record?
      - class_name = 'active'
    - else
      - class_name = (content.published? && !params[:new_content] || @momentum_cms_page.contents.length == 1) ? 'active' : nil

    - # Render the tab and associated blocks
    .tab-pane{id: tab_id.parameterize, class: class_name}
      = content_fields.association :template, collection: MomentumCms::Template.all, prompt: 'Choose a Template', label_method: :label, value_method: :id, include_blank: false,  input_html: { class: 'template-select' }
      = render 'momentum_cms/admin/pages/form/content_blocks_fields', content_fields: content_fields