%ul.nav.nav-tabs
  - @momentum_cms_page.contents.each do |content|
    - if params[:new_content] && content.new_record?
      %li.active
        = link_to 'New Content', '#new-content'
    - else
      %li{class: ( (@momentum_cms_page.contents.length == 1 || content.published?) && !params[:new_content] ? 'active' : '') }
        = link_to content.label, "##{content.label.parameterize}"
  - if @momentum_cms_page.persisted?
    %li
      = link_to edit_cms_admin_site_page_path(@current_momentum_cms_site, @momentum_cms_page, new_content: '1'), data: {action: 'add-content'} do 
        .glyphicon.glyphicon-plus
        Add Content
