{% cms_fixture id:header locale:en %}
Welcome to MomentumCMS
{% endcms_fixture %}

{% cms_fixture id:content locale:en %}
<p>This is a demo CMS running MomentumCMS.</p>
<p>The CMS is under heavy active development, and will break from time to time.</p>
<p>Please feel free to browse around.</p>

{% endcms_fixture %}