<div class="jumbotron">
  <div class="container">
    <h1 class="animated fadeInDown">{% cms_field id:logo type:string en:Logo de:Logo %}</h1>

    <h2 class="animated fadeInDown">{% cms_field id:header type:string en:Header de:Kopfzeile %}</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% cms_field id:left_column type:rich-text %}
    </div>
    <div class="col-md-4">
      {% cms_field id:right_column type:rich-text %}
    </div>
  </div>
  <!-- .row -->
  <br>
  <hr>
  <br>

  <div class="row">
    {% cms_snippet slug:footer %}
  </div>
</div>