<div style="width:100%">
  <h1>Fancy Header</h1>
</div>
<div style="width:100%">
  <div style="width:50%; float:left">
    {% cms_yield %}
  </div>
  <div style="width:50%; float:left">
    {% cms_yield %}
  </div>
</div>