%h1.page-header Edit Blue Print

= simple_form_for @momentum_cms_blue_print, url: {action: :update}  do |form|
  = render partial: 'form', locals: { form: form } 

= render partial: 'momentum_cms/admin/partials/object_meta', locals: { object: @momentum_cms_blue_print }