//= require jquery.ui.all
//= require vendor/bootstrap
//= require vendor/select2
//= require vendor/select2-bootstrap
//= require vendor/jquery.nested-sortable
//= require momentum_cms/admin/dashboard
//= require momentum_cms/admin/util/ace
//= require_self

.ace_editor {
  font-family: monospace !important;
}

.select2-container {
  width: 100%;
}

th.identifier, th.control {
  width: 15%;
}

.avatar {
  float: left;
  margin-top: 1em;
  margin-right: 1em;
  position: relative;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
}