%h1.page-header Templates

%table.table
  %thead
    %tr
      %th.identifier Identifier
      %th Label
      %th.control Control
  %tbody
    = render partial: 'templates', locals: { momentum_cms_templates_tree: @momentum_cms_templates, require_root: true}

%br/
= link_to 'New Template', [:new, :cms, :admin, :site, :template], class: 'btn btn-primary btn-xs'